<nav class="navbar navbar-expand-lg navbar-dark bg-dark gradiente-navbar">
  <div class="navbar-espaco">
    <a href="/">
      <img src="../../public/img/logo-navbar.png" style="max-width: 100%; height: auto; vertical-align: top;" alt="Logo ESPM" />
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse background-navbar" id="navbarToggler">
    <div class="navbar-nav flex-grow-1 navbar-underline">
      <a class="animacao-navbar color-text-navbar" href="../quest/cursos">Cursos</a>
      <a class="animacao-navbar color-text-navbar" href="../quest/qualiSI">Questinário</a>
      <a class="animacao-navbar color-text-navbar" href="https://www.espm.br/sobre-a-espm/principios-institucionais/" target="_blank">Sobre a Espm</a>
    </div>
    <div class="navbar-nav">
      <a class="btn-navbar-portal" href="https://portaldoaluno.espm.br/" target="_blank"> Portal ESPM </a>
    </div>
  </div>
</nav>