<div style="flex: 1 1 auto;"></div>
<footer class="rodape gradiente-rodape">
	<div class="container-rodape rodape-centro">
		<a class="rodape-espaco-icones rodape-icones-animacao" href="https://www.instagram.com/espmsaopaulo/" target="_blank" style="text-decoration: none;">
			<img src="../../public/img/instagram-icon.png" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Ícone Instagram">
		</a>
		<a class="rodape-espaco-icones rodape-icones-animacao" href="https://twitter.com/espm" target="_blank" style="text-decoration: none;">
			<img src="../../public/img/x-icon.png" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Ícone X">
		</a>
		<a class="rodape-espaco-icones rodape-icones-animacao" href="https://www.youtube.com/c/ESPMOficial" target="_blank" style="text-decoration: none;">
			<img src="../../public/img/youtube-icon.png" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Ícone YouTube">
		</a>
		<a class="rodape-espaco-icones rodape-icones-animacao" href="https://www.facebook.com/espm.br" target="_blank" style="text-decoration: none;">
			<img src="../../public/img/facebook.png" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Ícone Facebook">
		</a>
		<a class="rodape-icones-animacao" href="https://www.linkedin.com/school/escola-superior-de-propaganda-e-marketing/" target="_blank" style="text-decoration: none;">
			<img src="../../public/img/linkedin.png" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Ícone Linkedin">
		</a>
	</div>

	<br>

	<div class="rodape-centro botao-rodape rodape-texto-animacao">
		<a href="https://www.abepspm.org.br/termos-e-condi%C3%A7%C3%B5es#:~:text=Os%20Termos%20e%20Condi%C3%A7%C3%B5es%20(%E2%80%9CTermos,e%20o%20propriet%C3%A1rio%20do%20site." target="_blank">Termos de uso</a>
	</div>
	<div class="rodape-centro botao-rodape rodape-texto-animacao">
		<a href="https://www.espm.br/politica-de-privacidade/" target="_blank">Política de privacidade</a>
	</div>
</footer>