<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("comum/cabecalho") %>
</head>
<body>

	<div class="limitador">

		<%- include("comum/barra") %>

			<div>

				<%- body %>

			</div>

			<%- include("comum/rodape") %>

	</div>

</body>
</html>