<!-- Botoes para Celular -->
<div class="mostrar-mobile">
    <div class="cursos-container">
        <div class="cursos-voltar-espaco">
            <a href="/" class="cursos-voltar"><img src="../../public/img/seta-voltar.png" style="max-width: 1200px; height: auto;" alt="">Voltar</a>
        </div>

        <div class="cursos-home-espaco">
            <a href="/" class="cursos-home"><img src="../../public/img/icone-home.png" style="max-width: 1200px; height: auto;" alt="">Home</a>
        </div>
    </div>
</div>

<!-- Pagina -->

<div class="cursos-titulo-responsivo">
    <h1 class="cursos-titulo">Escolha seu <span class="cursos-texto-vermelho">CURSO</span></h1>
</div>

<!-- cursos de cima -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-design.png" class="cursos-imagem curso-cima-separacao-desing" style="max-width: 1200px; height: auto;" alt="Curso de Design">
                    <div class="cursos-texto-cima-desing">
                        Design
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-3">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-adm.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Administração">
                    <div class="cursos-texto-cima">
                        Administração
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-ri.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Relações Internacionais">
                    <div class="cursos-texto-cima">
                        Relações Internacionais
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-cc.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Ciências do Consumo">
                    <div class="cursos-texto-cima">
                        Ciências do Consumo
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- cursos de baixo -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 cursos-separacao">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-cinema.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Cinema e Audiovisual">
                    <div class="cursos-texto-cima">
                        Cinema e Audiovisual
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-3 cursos-separacao">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-cp.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Comunicação e Publicidade">
                    <div class="cursos-texto-cima">
                        Comunicação e Publicidade
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3 cursos-separacao">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-direito.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Direito">
                    <div class="cursos-texto-cima">
                        Direito
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3 cursos-separacao">
            <a href="../quest/erro" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-jornalismo.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Jornalismo">
                    <div class="cursos-texto-cima">
                        Jornalismo
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- curso de si -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center curso-si-separacao">
            <a href="../quest/qualiSI" class="cursos-animacao">
                <div class="cursos-conteudo">
                    <img src="../../public/img/fundo-si.png" class="curso-si-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Sistemas de Informação">
                    <div class="curso-si-texto-cima">
                        Sistemas de Informação
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="curso-si-imagem-separacao"></div>