<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card error-card">
          <div class="card-body">
            <div class="error-image-block">
              <img class="img-fluid" src="../../public/img/img-error-404.svg" style="max-width: 100%; height: auto; vertical-align: bottom;" alt="Imagem de Erro">
            </div>
            <div class="text-center">
              <h1 class="mt-5"><b>Page Not Found</b></h1>
              <div class="erro-subtitulo-responsivo ">
                <p class="mt-2 mb-4 text-muted">A página que você está procurando, ainda está em produção!</p>
              </div>
              <a class="btn mb-3 erro-botao" href="../quest/cursos">Voltar para cursos</a>
              <!-- <button type="button" class="btn mb-3 erro-botao">Voltar para home</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>