<!-- Pagina 1 -->
<div class="container-fluid hm-pg1-espacamento">
	<div class="row">
		<div class="col-sm-6">
			<div class="hm-pg1-titulo-responsivo">
				<h1 class="hm-pg1-centraliza-titulo"><span class="hm-pg1-espm-red">Descubra</span> quem você vai se tornar dentro da <span class="hm-pg1-espm-red">ESPM!</span></h1>
			</div>
				<p class="hm-pg1-desc">
					Um jeito simples e rápido para encontrar o melhor caminho para sua carreira profissional.
				</p>

				<div class="hm-pg1-centro-btn">
					<a href="../quest/cursos" class="hm-pg1-btn-comecar">COMEÇAR O TESTE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
		</div>

		<div class="col-sm-6">
			<div class="float-right">
				<img class="hm-pg1-img-pessoas" src="../../public/img/ImgHome.png" style="height: auto;" alt="Grupo de Estudantes"/>
			</div>
		</div>
	</div>
</div>

<!-- Pagina 2 -->

<div class="container-fluid hm-pg2-fundo">
	<div class="row">
		<div class="col-sm-4">
				<h1>Encontre seu caminho!</h1>

				<p class="hm-pg2-desc">
					Em meio as inúmeras opções de carreira disponíveis, é comum se sentir perdido na hora de escolher sua carreira profissional ideal. 
				</p>
		</div>

		<div class="col-sm-8">
			<div class="float-right">
				<img src="../../public/img/2pessoas.png" style="max-width: 1200px; height: auto;" alt="Dois Estudantes"/>
			</div>
		</div>
	</div>
</div>

<!-- Pagina 3 -->

<div class="container-fluid hm-pg3-fundo">
	<div class="row">
		<div class="col-sm-6">
			<div class="float-left">
				<img src="../../public/img/1pessoa.png" style="max-width: 1200px; height: auto;" alt="Estudante fazendo uma pose"/>
			</div>
		</div>
		
		<div class="col-sm-6">
				<p class="hm-pg3-desc">
					Esse quiz foi desenvolvido para você, estudante. Explore seus interesses, que nós os guiaremos  para um caminho mais satisfatório. 
				</p>
		</div>
	</div>
</div>