<!-- Botoes para Celular -->
<div class="mostrar-mobile">
  <div class="cursos-container">
    <div class="cursos-voltar-espaco">
      <a href="../quest/qualiSI3" class="cursos-voltar"
        ><img
          src="../../public/img/seta-voltar.png"
          style="max-width: 1200px; height: auto"
          alt=""
        />Voltar</a
      >
    </div>

    <div class="cursos-home-espaco">
      <a href="/" class="cursos-home"
        ><img
          src="../../public/img/icone-home.png"
          style="max-width: 1200px; height: auto"
          alt=""
        />Home</a
      >
    </div>
  </div>
</div>

<!-- Pagina 4-->

<div class="quali-titulo-responsivo">
  <div class="quali-container">
    <img
      class="quali-icone-preto"
      src="../../public/img/vetor-md.png"
      alt="Ícone Modelagem Preditiva"
    />
    <h1 class="quali-titulo-foto">Modelagem Preditiva</h1>
  </div>
</div>

<div class="quali-titulo-responsivo">
  <h1 class="quali-titulo">
    Selecione suas <span class="quali-texto-vermelho">QUALIFICAÇÕES</span>
  </h1>
</div>

<!-- formulário -->

<div class="quali-container-menor quali-espaco-lado">
  <form id="formulario" action="" method="post">
    <div class="quali-checkbox-container">
      <label for="java" class="quali-checkbox-label">Java</label>
      <input type="checkbox" id="java" name="categoria" value="java" />
    </div>
    <div class="quali-checkbox-container">
      <label for="python" class="quali-checkbox-label">Python</label>
      <input type="checkbox" id="python" name="categoria" value="python" />
    </div>
    <div class="quali-checkbox-container">
      <label for="c" class="quali-checkbox-label">C</label>
      <input type="checkbox" id="c" name="categoria" value="c" />
    </div>
    <div class="quali-checkbox-container">
      <label for="javascript" class="quali-checkbox-label">JavaScript</label>
      <input
        type="checkbox"
        id="javascript"
        name="categoria"
        value="javascript"
      />
    </div>
    <div class="quali-checkbox-container">
      <label for="java" class="quali-checkbox-label">Tableau</label>
      <input type="checkbox" id="java" name="categoria" value="java" />
    </div>
    <div class="quali-checkbox-container">
      <label for="python" class="quali-checkbox-label">Redes</label>
      <input type="checkbox" id="python" name="categoria" value="python" />
    </div>
    <div class="quali-checkbox-container">
      <label for="c" class="quali-checkbox-label">Segurança</label>
      <input type="checkbox" id="c" name="categoria" value="c" />
    </div>
    <div class="quali-checkbox-container">
      <label for="javascript" class="quali-checkbox-label">Games</label>
      <input
        type="checkbox"
        id="javascript"
        name="categoria"
        value="javascript"
      />
    </div>
    <div class="quali-checkbox-container">
      <label for="java" class="quali-checkbox-label">HTML</label>
      <input type="checkbox" id="java" name="categoria" value="java" />
    </div>
    <div class="quali-checkbox-container">
      <label for="python" class="quali-checkbox-label">Devops</label>
      <input type="checkbox" id="python" name="categoria" value="python" />
    </div>
    <div class="quali-checkbox-container">
      <label for="c" class="quali-checkbox-label">C</label>
      <input type="checkbox" id="c" name="categoria" value="c" />
    </div>
    <div class="quali-checkbox-container">
      <label for="javascript" class="quali-checkbox-label">JavaScript</label>
      <input
        type="checkbox"
        id="javascript"
        name="categoria"
        value="javascript"
      />
    </div>

    <!-- formulario de bolinha -->
    <div class="quali-titulo-responsivo">
      <h1 class="quali-titulo">
        Avalie seu nível de <span class="quali-texto-vermelho">INTERESSE</span>
      </h1>
    </div>

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação Java</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>
    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação Python</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            1
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <!-- copia e cola a partir daqui -->

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação C</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação JavaScript</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação Tableau</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação Redes</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />
    <p class="quali-subtexto">Aprender a linguagem de programação Segurança</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />

    <p class="quali-subtexto">Aprender a linguagem de programação Games</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />
    <p class="quali-subtexto">Aprender a linguagem de programação HTML</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />
    <p class="quali-subtexto">Aprender a linguagem de programação Devops</p>

    <div class="quali-bolinhas-centro">
      <div class="questao">
        <div class="opcoes">
          <div
            class="opcao muito-baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="1"
          ></div>
          <div
            class="opcao baixa"
            onclick="selecionarOpcao(this)"
            name="java"
            value="2"
          ></div>
          <div
            class="opcao media"
            onclick="selecionarOpcao(this)"
            name="java"
            value="3"
          ></div>
          <div
            class="opcao alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="4"
          ></div>
          <div
            class="opcao muito-alta"
            onclick="selecionarOpcao(this)"
            name="java"
            value="5"
          ></div>
        </div>
      </div>
    </div>

    <div class="quali-texto-container">
      <div class="quali-texto-negacao">não faz diferença</div>
      <div class="quali-texto-interessante">muito interessante</div>
    </div>

    <hr class="quali-linha-fina" />

    <!-- fim do copia e cola -->

    <!-- enviar formulario -->

    <div class="quali-espaco-btn">
      <input type="submit" value="Próximo" />
    </div>
  </form>

  <div class="quali-paginas-container">
    <a href="../quest/qualiSI">
      <img src="../../public/img/pg1.png" alt="Página 1" />
    </a>
    <a href="../quest/qualiSI2">
      <img src="../../public/img/pg2.png" alt="Página 2" />
    </a>
    <a href="../quest/qualiSI3">
      <img src="../../public/img/pg3.png" alt="Página 3" />
    </a>
    <a href="">
      <img src="../../public/img/pg4-select.png" alt="Página 4 Selecionada" />
    </a>
    <a href="../quest/qualiSI5">
      <img src="../../public/img/pg5.png" alt="Página 5" />
    </a>
  </div>
</div>

<!-- Script para bolinha -->
<script>
  function selecionarOpcao(opcao) {
    const opcoes = opcao.parentNode.querySelectorAll(".opcao");

    opcoes.forEach((opt) => {
      opt.classList.remove(
        "selecionada-valor1",
        "selecionada-valor2",
        "selecionada-valor3",
        "selecionada-valor4",
        "selecionada-valor5"
      );
    });

    const valor = parseInt(opcao.getAttribute("value"));

    let cor;
    switch (valor) {
      case 1:
        cor = "selecionada-valor1";
        break;
      case 2:
        cor = "selecionada-valor2";
        break;
      case 3:
        cor = "selecionada-valor3";
        break;
      case 4:
        cor = "selecionada-valor4";
        break;
      case 5:
        cor = "selecionada-valor5";
        break;
      default:
        cor = "";
    }

    opcao.classList.add(cor);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("formulario");
    const botaoProximo = document.querySelector(
      '.quali-espaco-btn input[type="submit"]'
    );

    botaoProximo.addEventListener("click", function (event) {
      event.preventDefault();
      window.location.href = "../quest/qualiSI5";
    });
  });
</script>
