<div id="result-container" class="result-container">
    <p class="result-subtitulo">Sua profissão ideal é:</p>

    <h1 class="result-titulo">Cientista de Dados</h1>
    <div class="result-imagem">
        <img src="../../public/img/result-cd.png" style="max-width: 1200px; height: auto;" alt="Imagem de um Aluno">
    </div>

    <p class="result-texto">Responsável por, a partir de dados armazenados e de necessidades de negócios, criar e enriquecer bases de dados analíticas necessárias.</p>

    <div class="result-espaco-btn">
        <a href="" class="result-compartilhar"><img class="result-seta" src="../../public/img/vetor-seta.png" style="max-width: 1200px; height: auto;" alt="Compartilhar">Compartilhar</a>
    </div>

    <div class="result-espaco-btn-hm">
        <a href="/" class="result-voltar-hm"><img class="result-seta" src="../../public/img/seta-voltar.png" style="max-width: 1200px; height: auto;" alt="Voltar">Voltar para home</a>
    </div>
</div>

<!-- Escurece o fundo -->
<div id="overlay"></div>

<!-- Modal de compartilhamento -->
<div id="modal">
    <span id="close">&times;</span>
    <p>Compartilhar:</p>
    <div class="share-icons">
        <div class="share-icon-container whatsapp">
            <a href="#"><img src="../../public/img/vetor-whatsapp.png" alt="WhatsApp"></a>
            <p>WhatsApp</p>
        </div>
        <div class="share-icon-container facebook">
            <a href="#"><img src="../../public/img/vetor-facebook.png" alt="Facebook"></a>
            <p>Facebook</p>
        </div>
        <div class="share-icon-container twitter">
            <a href="#"><img src="../../public/img/vetor-twitter.png" alt="Twitter"></a>
            <p>Twitter</p>
        </div>
        <div class="share-icon-container linkedin">
            <a href="#"><img src="../../public/img/vetor-linkedin.png" alt="LinkedIn"></a>
            <p>LinkedIn</p>
        </div>
        <div class="share-icon-container email">
            <a href="#"><img src="../../public/img/vetor-email.png" alt="Email"></a>
            <p>Email</p>
        </div>
    </div>
    <button id="copy-link">Copiar link</button>
</div>

<script src="../../public/js/compartilhamento.js"></script>